* {
    box-sizing: border-box;   
}

body {
    margin: 0;
    padding : 0;
}
.card {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}

.d-flex {
    display: flex;
}

.profile-img {
    border-radius: 50%;
}

.stretch {
    gap: 3rem;
    justify-content: stretch;
}

.p-10 {
    padding: 50px 100px;
}

.p-5 {
    padding: 50px;
}